# Homework | module 3 > week 10 > day 24 <hr style="border:4.5px solid #108999"> </hr>

## Strings

1. Assign the value of 80 to the variable `d`.

In [ ]:
d = 80

2. Using the variable `d`, write one line of code where the output after execution is "Around the World in 80 Days" (hint: there are several ways to achieve this result).

In [ ]:
'Around the World in ' + str(80) + ' Days'  # ho messo dello spazio in days per evitare che si attaccasse alla str(80)

'Around the World in 80 Days'

In [ ]:
print('Around the world in', d , 'Days')

Around the world in 80 Days

3. Write a string that says "It's hot, don't you think?"

In [ ]:
print("it's hot, dont't you think?")

it's hot, dont't you think?

4. Fix the cell below so that it becomes a string.

In [ ]:
'Don\'t be shy' # per evitare che il singolo apice si confonda con l'apostrofo si usa un back_sls

"Don't be shy"

5. Produce an output equal to *Click "OK"*.

In [ ]:
print("OK")

OK

<hr style="border:5px solid #108999"> </hr>

## Numbers and Boolean Operators

1. Create a variable equal to "True" and call it `b`. Then check its type.

In [ ]:
b = True

In [ ]:
print(b)

True

2. Create a variable equal to 42 and call it `x`. Then check its type

In [ ]:
x = 42

In [ ]:
print(x)

42

3. Check the type of the value 3.14. Then turn it into an integer and write the result as a comment.

In [ ]:
type(3.14)

float

In [ ]:
int(3.14) 
# 3 is the result

3

4. Verify that 25 is smaller than 30. Then verify that 10 multiplied by 3 is less than or equal to 10 to the power of 3.

In [ ]:
25 < 30

True

In [ ]:
(10*3) <= 10**3 # moltiplicazione di 10 per 3 tra parentesi , minore o uguale a 10 potenza di 3

True

5. Verify that 100 is equal to 10 square. Then verify that 42 is not equal to 314.

In [ ]:
 100 == 10*10

True

In [ ]:
42 != 314

True

6. Using the operators `True`, `False`, `not` and `is` exactly once, generate a `True` output.

In [ ]:
True and (not False) is True

True

## Arithmetic operators

1. Add 34 and 26, from the result subtract 50. Then assign this operation to a variable and call it `y`.

In [ ]:
(34+26) - 50

10

In [ ]:
y = (34+26) - 50

2. Divide 60 by the sum of `y` and 5.

In [ ]:
print(y/5)

2.0

3. Divide `y` by 4. Then obtain the **remainder** of the division.

In [ ]:
print(y/4)

2.5

In [ ]:
print(y%4)

2

**4**. Raise 35 to the power of 4.

In [ ]:
35**4

1500625

5. Take the square root of 1764.

In [ ]:
# come si fa lo square root??

## Variables & assignment

1. Create a variable, call it `z` and assign it a value of 10. Then show the value of the variable on the screen.

In [ ]:
z = 10

In [ ]:
print(z)

10

2. Using one line of code, create three new variables: `one`, `two` and `three`, that are equal to 10, 20 and 30 respectively.

In [ ]:
one , two , three = 10 , 20 , 30

3. Tell Python to output the sum of the three variables.

In [ ]:
print(one + two + three)

60

4. Using the three variables from above, output the value "102030" as a string.

In [ ]:
one = 10
two = 20
three = 30

In [ ]:
print(one+two+three)

102030102030102030

5. Assign the value of 10 to a variable `w` and, in the same cell, print `w` on the screen. Then multiply `w` by 10.

In [ ]:
w = 10
print(w*10)

100

6. Now, assign 30 to the variable `w`. Then calculate `w` + 10. Notice how the value of `w` changes and is always the last one you have assigned.

In [ ]:
W = 30 
print(w +10)

20

## Indexing elements

1. Using string indexing, extract the letter 'B' from "Boolean".

In [ ]:
print("Boolean"[0])

B

2. Using string indexing, extract the substring "lean" from "Boolean".

In [ ]:
print("Boolean"[3:])

lean

3. Using string indexing, extract the exclamation mark from "Hello World!".

In [ ]:
print("hello world!"[-1])

!

4. Using string indexing, extract the substring "UAE" from the following text: "Israel signs first Arab free trade agreement with UAE."

In [ ]:
print("Israel signs first Arab free trade agreement with UAE"[-3:])

UAE